.App {
  display:flex;
  flex-direction:column;
  gap:40px;
}

.footer{
  background-color: #023047;
  display: flex;
  justify-content: space-evenly;
  color:aliceblue;
  padding:10px;

}
.footer p:hover{
  cursor:pointer;
  color:rgb(176, 240, 240);

}


@media screen and (max-width:850px)  {
  
  .footer{
    display: flex;
    justify-content: flex-start;
    
  }
  .footer p{
   
    padding-right: 20px;
  }
}

